* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

body {
	width: fit-content;
	margin: 0 auto;
}

.main-header>img {
	width: 8rem;
	box-sizing: content-box;
	padding-right: 1rem;
	border-right: 1px solid #ebebeb;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a{
	color: #989898;
	text-decoration: none;
}

li>a {
	display: inline-block;
	text-transform: uppercase;
	line-height: 2rem;
	padding: 0 0.2rem;
	font-weight: 400;
	font-size: 0.8rem;
}

li>a:hover {
	background-color: #989898;
	color: white;
}

.banner {
	display: block;
	height: 400px;
	width: 1000px;
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	color: white;
	margin: 2rem 0;
	position: relative;
}


.opaque {
	width: 100%;
	height: 100%;
	background-color: #00000020;
	border-radius: 0.5rem;
}


.opaque:hover {
	background-color: #00000040;
}

.banner section {
	position: absolute;
	width: 48%;
	bottom: 3rem;
	left: 3rem;
}

h2, h3 {
	font-weight: 400;
}

main>section {
	width: 1000px;
	font-size: .8rem;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

section>header {
	margin: 2rem 0;
}

h1 {
	font-size: 1.8rem;
}

h3 {
	margin: 0.6rem 0 0.5rem;
}

.subtitle, .col p {
	color: #989898;
}

.col {
	float: left;
}

.side{
	width: 20%;
}

.center {
	width: calc(60% - 2*.5rem);
	margin: 0 .5rem;
}

.col>img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	filter: brightness(0.9);
	border-radius: 0.5rem;
}


footer {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
	font-weight: 300;
	font-size: 0.8rem;
}

footer>span {
	font-size: 1.5em;
	color: red;
}