* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
.main-header, main, footer {
	width: 700px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.col {
	float: left;
}

.side{
	width: 20%;
}

.central {
	width: calc(60% - 2*10px);
	margin: 0 10px;
}

footer {
	margin-top: 5px;
	margin-bottom: 20px;
}

*/